
* {
    box-sizing: border-box;
}
.container {
    max-width: 1200px;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #000000;
}


h1 {
    font-size: 36px;
    font-weight: 600;
    line-height: 49px;
    color: #003262;
    margin-bottom: 10px;
}

h2 {
    font-size: 30px;
    font-weight: 600;
    line-height: 41px;
    color: #3B7EA1;
    margin-bottom: 10px;
}

h3 {
    font-size: 21px;
    font-weight: 600;
    line-height: 28px;
    color: #C4820E;
    margin-bottom: 10px;
}

.image-responsive {
    display: block;
    width: 100%;
    height: auto;
}

.logo-desktop {
    float: right;
    max-width: 280px;
}

.logo-mobile {
    display: none;  
}

.menu-desktop {
    visibility: visible;
}


.menu-mobile
{
  width: 100%;
  height: auto;
}

/* -------------- Burgur styling ----------------- */
.btn
{
  font-size: 33px;
  background: none;
  display: none;
  text-align: right;

}

/* ----------- close btn ------------- */
.close-btn
{
    top: 0;
    left: 0;
    font-size: 33px;
    color: salmon;
    background: none;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: right;
    flex-direction: column;
    cursor: pointer;
}

.menu {
    display: none;
    visibility: hidden;
}

.menu.open-menu {
    width: 100%;
    height: 100vh;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 5s all;
    visibility: visible;
}

.open-menu ul
{
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
}

.open-menu ul li
{
  list-style: none;
  padding: 6px;
}

.open-menu ul li a
{
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  color: #000;
}

.open-menu ul li a:hover
{
  border-bottom: 5px solid #000;
  transition: 0.2s all;
}

@media screen and (max-width: 576px) {
    .logo-desktop {
        visibility: hidden;
        display: none;
    }

    .logo-mobile {
        display: inline;
        float:left;
        max-width: 215px;
    }

    .menu-desktop {
        visibility: hidden;
        display: none;
    }

    .btn {
        display: inline;
        visibility: visible;
        float: right;
    }

    }

.video-embed
{
    position: relative;
    height: 0px;
    padding-bottom: 56.25%;
    margin-top: 20px;
    margin-bottom: 20px;
}



.responsive-iframe 
{ 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.no-left-gutter {
    padding-left: 0px;
}

/* use for decade pages
.slickcarousel {
    margin: 0 auto;
    padding: 15px;
    width: 90%;
    color: #333;
    background: #419be0;
  } */
  
.slick-slide { 
padding: 0px 15px 0px 0px; 
}

.slick-next {
    right: 50px;
} 

.slick-prev {
    z-index: 10;
    left: -10px;
}

.slick-prev:before, .slick-next:before {
    color: #FDB515;
    font-size: 29px;
    line-height: 8;
    padding: 15px;
    text-shadow: 2px 1.25px 0px #8888;
} 

hr {
    height: 1px;
    background-color: #3B7EA1; 
    border: none;
}

.footer-address-block {
    display: inline;
    float: left;
    margin-top: 20px;
    text-align: left;
    line-height: 22px;
}

a img {
    border: 0 none;
}

.image-link {
    text-decoration: none;
}

.footer-icons {
    max-width: 48px;
    margin-left: 15px;
    display: inline;
}
    
.footer-icons-desktop {
    float: right;
    margin-top: 20px;
}

@media screen and (max-width: 576px) {
    .footer-icons-desktop {
        float: left;
    }
}


