
* {
    box-sizing: border-box;
}
.container {
    max-width: 1200px;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #000000;
}


h1 {
    font-size: 36px;
    font-weight: 600;
    line-height: 49px;
    color: #003262;
    margin-bottom: 10px;
}

h2 {
    font-size: 30px;
    font-weight: 600;
    line-height: 41px;
    color: #3B7EA1;
    margin-bottom: 10px;
}

h3 {
    font-size: 21px;
    font-weight: 600;
    line-height: 28px;
    color: #C4820E;
    margin-bottom: 10px;
}

.image-responsive {
    display: block;
    width: 100%;
    height: auto;
}

.logo-desktop {
    float: right;
    max-width: 280px;
}

.logo-mobile {
    display: none;  
}

.menu-desktop {
    visibility: visible;

}

.menu-desktop ul {
    margin: 0px;
    padding: 0px 0px 0px 15px;
}

.menu-desktop ul li {
    display: inline-block;
    width: 64px;
    margin-right: 20px;
}

.menu-desktop ul li a
{
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  color: #46535E;
}

.menu-mobile
{
  height: auto;
  visibility: hidden;
}

/* -------------- Burgur styling ----------------- */
.btn
{
  font-size: 33px;
  color: #003262;
  background: none;
  text-align: right;
}

.btn.close-btn {
    color: transparent;
    position: relative;
    z-index: 2;
}

.menu {
    display: none;
    visibility: hidden;
}

/* mobile menu styling  */
.menu.open-menu {
    top: 2px;
    right: 25px;
    width: 140px;
    height: auto;
    display: inline-flex;
    position: absolute;
    box-shadow: 3px 3px 10px 5px #003262;
    border: #003262;
    border-radius: 5px;
    background-color: #fff;
    z-index: 1;
    transition: 1s all;
    visibility: visible;
}


.open-menu ul
{
  display: flex;
  flex-direction: column;
  margin-top: -16px;

}

.open-menu ul li
{
  list-style: none;
  margin: 0px 0px 0px -25px;
  padding-top: 20px;
  
}

.open-menu ul li a, .menu-desktop ul li a
{
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  color: #46535E;
}

.open-menu ul li a:hover, .menu-desktop ul li a:hover
{
  border-bottom: 1px solid #FDB515;
  color: #888888;
  transition: 0.2s all;
}

.open-menu ul li a:active, .menu-desktop ul li a:active
{
  border-bottom: 1px solid #FDB515;
  color: #888888;
  transition: 0.2s all;
}

@media screen and (max-width: 576px) {
    .logo-desktop {
        visibility: hidden;
        display: none;
    }

    .logo-mobile {
        display: inline;
        float:left;
        max-width: 215px;
    }

    .menu-desktop {
        visibility: hidden;
        display: none;
    }

    .menu-mobile {
        display: inline;
        visibility: visible;
    }

    }

.video-embed
{
    position: relative;
    height: 0px;
    padding-bottom: 56.25%;
    margin-top: 20px;
    margin-bottom: 20px;
}



.responsive-iframe 
{ 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.no-left-gutter {
    padding-left: 0px;
}

/* use for decade pages
.slickcarousel {
    margin: 0 auto;
    padding: 15px;
    width: 90%;
    color: #333;
    background: #419be0;
  } */
  
.slick-slide { 
padding: 0px 15px 0px 0px; 
}

.slick-next {
    right: 50px;
} 

.slick-prev {
    z-index: 10;
    left: -10px;
}

.slick-prev:before, .slick-next:before {
    color: #FDB515;
    font-size: 29px;
    line-height: 8;
    padding: 15px;
    text-shadow: 2px 1.25px 0px #8888;
} 

hr {
    height: 1px;
    background-color: #3B7EA1; 
    border: none;
}

.footer-address-block {
    display: inline;
    float: left;
    margin-top: 20px;
    text-align: left;
    line-height: 22px;
}

a img {
    border: 0 none;
}

.image-link {
    text-decoration: none;
}

.footer-icons {
    max-width: 48px;
    margin-left: 15px;
    display: inline;
}
    
.footer-icons-desktop {
    float: right;
    margin-top: 20px;
}

@media screen and (max-width: 576px) {
    .footer-icons-desktop {
        float: left;
    }
}


